/***********************************/
/*1344PX'a GÖRE YAZILAN KODLAR(KÜÇÜK MASAÜSTÜLER)*/
/***********************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .ana-başlık {
    font-size: 4.4rem;
  }

  .galeri {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 2.4rem;
  }

  .btn--mobil-nav {
    display: none;
  }
}

/***********************************/
/*1200px'a GÖRE YAZILAN KODLAR(YATAY TABLETLER)*/
/***********************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16 px = 0.5625*/

    font-size: 56.25%;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .main-nav-listesi {
    gap: 3.2rem;
  }

  .ana-başlık {
    font-size: 4rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 1.1rem;
  }

  .ikincil-başlık {
    font-size: 3.6rem;
  }

  .üçüncül-başlık {
    font-size: 2.4rem;
  }

  .referanslar-konteynır {
    padding: 9.6rem 3.2rem;
  }
}

/***********************************/
/*944px'a GÖRE YAZILAN KODLAR(TABLETLER)*/
/***********************************/

@media (max-width: 59em) {
  /*8px'a ayarlamak için bunu kullandık*/

  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-img {
    width: 60%;
  }

  .hero-yazı-kutusu,
  .hero-img-kutusu {
    text-align: center;
  }

  .teslim-edilenler {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logolar img {
    height: 2.4rem;
  }

  .adım-numara {
    font-size: 7.4rem;
  }

  .menü-içeriği {
    padding: 2rem 3rem 3rem 3rem;
  }

  .menü-başlığı {
    font-size: 2.2rem;
  }

  .referanslar-bölümü {
    grid-template-columns: 1fr;
  }

  .galeri {
    grid-template-columns: repeat(6, 1fr);
  }

  .fiyatlandırma-planı--fullpaket::after {
    top: 5%;
    right: -15%;
  }

  .kayıt {
    grid-template-columns: 3fr 2fr;
  }

  .kayıt-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 2rem;
  }

  .btn--mobil-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);

    /*NAVİGASYONU GİZLE*/
    /*display: none;*/

    /*1-) onu gizleriz*/
    opacity: 0;

    /*2-) fare ve klavyeler için tıklanabilir hale getirmek*/
    pointer-events: none;

    /*3-) ekran okuyucudan gizleriz*/
    visibility: hidden;
  }

  .nav-açık .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-açık .mobil-nav-icon[name="close-outline"] {
    display: block;
  }

  .nav-açık .mobil-nav-icon[name="menu-outline"] {
    display: none;
  }

  .main-nav-listesi {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .grid--3-sıra {
    grid-template-columns: 0.4fr 0.4fr;
    align-items: center;
    justify-content: center;
  }

  .diyetler {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

/***********************************/
/*720px'a GÖRE YAZILAN KODLAR(KÜÇÜK TABLETLER)*/
/***********************************/

@media (max-width: 45em) {
  .grid--3-sıra,
  .grid--4-sıra {
    grid-template-columns: repeat(2, 1fr);
  }

  .ikincil-başlık {
    margin-bottom: 4.8rem;
  }

  .fiyatlandırma-planı {
    width: 100%;
  }

  .grid-alt-bilgi {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .nav-stn {
    grid-row: 1;
    grid-column: span 2;
  }

  .logo-stn,
  .adres-stn {
    grid-column: span 3;
    margin-bottom: 3.2rem;
  }

  .fiyatlandırma-başlığı {
    margin-bottom: 3.2rem;
  }
}

/***********************************/
/*544px'a GÖRE YAZILAN KODLAR(TELEFONLAR)*/
/***********************************/

@media (max-width: 35em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-sıra,
  .grid--3-sıra,
  .grid--4-sıra {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1rem;
  }

  .btn--taslak:link,
  .btn--taslak:visited {
    margin-top: 2.4rem;
    padding: 1.6rem 1rem;
    margin-right: 1.6rem !important;
  }

  .teslim-edilenler {
    display: grid;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 4.8rem;
  }

  .müşteri-img {
    justify-self: center;
  }

  .hero-img {
    width: 80%;
  }

  .logolar img {
    height: 1.4rem;
  }

  .bölüm-herosu {
    padding: 2.4rem 0 4.8rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .adım-img-kutusu:nth-child(2) {
    grid-row: 1;
  }

  .adım-img-kutusu:nth-child(6) {
    grid-row: 5;
  }

  .adım-img {
    transform: translateY(2.4rem);
  }

  .diyetler {
    grid-column: 1 / -1;
    justify-self: left;
  }

  .referanslar {
    grid-template-columns: 1fr;
  }

  .referans:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  .galeri {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.8rem;
  }

  .referanslar-konteynır {
    padding: 9.6rem 3.2rem 6.4rem 3.2rem;
  }

  .kayıt {
    grid-template-columns: 1fr;
  }

  .kayıt-img {
    height: 36rem;
    grid-row: 1;
  }

  .kayıt-text-kutusu {
    padding: 3.2rem;
  }
}

/***********************************/
/*SAFARİ FLEXBOX DÜZELTME*/
/***********************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .liste-öğesi:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .liste-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-ikon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .alt-bilgi-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-listesi li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-listesi li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
/*
BEYAZ BOŞLUKLAR
  SPACING SYSTEM (px)
     2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 
   FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/
